<div class="shipping-info__mobile">
    <div class="shipping-info">
        <div class="shipping-info__security">
          <p class="shipping-info__security__text">Free shipping</p>
          <hr class="shipping-info__security__divider"/>
          <div class="shipping-info__security__encryption">
            <img src="../assets/lock.svg" alt="Lock icon" class="lock-icon">
            <p class="encryption-text">Secure 256-bit SSL encryption</p>
          </div>
        </div>
    
        <hr class="shipping-info__divider"/>
    
        <div class="payment-methods">
          <img src="../assets/visa.svg" alt="visa credit card icon" class="credit-card">
          <img src="../assets/shop pay.svg" alt="shop pay credit card icon" class="credit-card">
          <img src="../assets/paypal.svg" alt="paypal credit card icon" class="credit-card">
          <img src="../assets/mastercard.svg" alt="mastercard credit card icon" class="credit-card">
          <img src="../assets/gpay.svg" alt="google pay credit card icon" class="credit-card">
          <img src="../assets/apple pay.svg" alt="apple pay card icon" class="credit-card">
          <img src="../assets/amex.svg" alt="amex credit card icon" class="credit-card">
        </div>
      </div>
</div>

  <div class="shipping-info__desktop">
      <div class="shipping-info">
        <div class="shipping-info__security">
          
          <p class="shipping-info__security__text">Free shipping</p>
    
          <hr class="shipping-info__security__divider"/>
    
          <div class="shipping-info__security__encryption">
            <img src="../assets/lock.svg" alt="Lock icon" class="lock-icon">
            <p class="encryption-text">Secure 256-bit SSL encryption</p>
          </div>
    
          <hr class="shipping-info__security__divider"/>
    
          <div class="payment-methods">
            <img src="../assets/visa.svg" alt="visa credit card icon" class="credit-card">
            <img src="../assets/shop pay.svg" alt="shop pay credit card icon" class="credit-card">
            <img src="../assets/paypal.svg" alt="paypal credit card icon" class="credit-card">
            <img src="../assets/mastercard.svg" alt="mastercard credit card icon" class="credit-card">
            <img src="../assets/gpay.svg" alt="google pay credit card icon" class="credit-card">
            <img src="../assets/apple pay.svg" alt="apple pay card icon" class="credit-card">
            <img src="../assets/amex.svg" alt="amex credit card icon" class="credit-card">
          </div>
        </div>
      </div>
  </div>


