<clarifion-header></clarifion-header>

<main id="main-content" class="main-content">

  <order-status class="order-status"></order-status>

  <section class="main-content__special__offer__mobile">
    <h1 class="special-offer__title">
      <span class="emphasis-style">ONE TIME ONLY</span> 
      special price for 6 extra Clarifion for only 
      <span class="emphasis-style">$14 each</span> 
      ($84.00 total!)
    </h1>

    <img src="../assets/Air-ionizer-big-picture.svg" class="special-offer-big-picture">
    
    <div class="offer">
      <div class="offer__product">
        <img src="../assets/Air-ionizer-small-picture.svg" alt="Product picture" class="offer__product__picture">
        <div class="offer__product__info">
          <div class="offer__product__infos">
            <p class="offer__product__infos__title">Clarifion Air Ionizer</p>
            <div class="offer__product__infos__prices">
              <p class="offer__price__old">$180</p>
              <p class="offer__price__new">$84</p>
            </div>
          </div>
          <div class="product-stars">
            <img src="../assets/star-icon.svg">
            <img src="../assets/star-icon.svg">
            <img src="../assets/star-icon.svg">
            <img src="../assets/star-icon.svg">
            <img src="../assets/star-icon.svg">
          </div>
          <div class="product-stock">
            <img src="../assets/radio_buton.svg" alt="Radio button option selected" class="radio-button">
            <p class="radio-button-label">12 left in Stock</p>            
          </div>
        </div>
      </div>
    </div>

    <div class="offer-features">
      <p class="offer-features__description">Simply plug a Clarifion into any standard outlet and replace bulky, expensive air purifiers with a simple.</p>
      
      <div class="offer-features__bullet-point">
        <img src="../assets/tick-circle.svg" alt="Check bullet point icon" class="check-bullet-point-icon">
        <p class="check-bullet-point-text">Negative Ion Technology may <span class="bold">help with allergens</span></p>
      </div>

      <div class="offer-features__bullet-point">
        <img src="../assets/tick-circle.svg" alt="Check bullet point icon" class="check-bullet-point-icon">
        <p class="check-bullet-point-text">Designed for <span class="bold">air rejuvenation</span></p>
      </div>

      <div class="offer-features__bullet-point no-margin">
        <img src="../assets/tick-circle.svg" alt="Check bullet point icon" class="check-bullet-point-icon">
        <p class="check-bullet-point-text"><span class="bold">Perfect for every room</span> in all types of places.</p>
      </div>
    </div>

    <div class="offer-discount">
      <img src="../assets/discount.svg" alt="Discount icon" class="discount-icon">
      <p class="discount-message">Save <span class="emphasis-style">53%</span> and get <span class="emphasis-style">6 extra Clarifision</span> for only <span class="emphasis-style">$14 Each</span>.</p>
    </div>

    <div class="claim-discount-button">
      <button class="discount-button" >
        <p class="discount-button-text">Yes - Claim my discount</p>
        <img src="../assets/discount-arrow-right.svg" alt="Arrow right icon" class="arrow-right-icon">
      </button>
    </div>

    <shipping-information></shipping-information>

    <div class="dont-want-offer-link">
      <a href="#" class="dont-want-offer-link__style">No thanks, I don’t want this.</a>
    </div>

    <div class="garantee-area">
      <img src="../assets/garantee-stamp.png" alt="garantee stamp image" class="garantee-stamp">
      <p class="garantee-text">If you are not completely thrilled with your Clarifion - We have a <span class="bold">30 day satisfaction guarantee</span>. Please refer to our return policy at the bottom of the page for more details. Happy Shopping!</p>
    </div>
  </section>

  <section class="main-content__special__offer__desktop">

    <div class="photo-and-comments">
      <img src="../assets/Air-ionizer-big-picture.svg" class="special-offer-big-picture">
      <customer-comment></customer-comment>
    </div>

    <div class="product-offer">
      <h1 class="special-offer__title">
        <span class="emphasis-style">ONE TIME ONLY</span> 
        special price for 6 extra Clarifion for only 
        <span class="emphasis-style">$14 each</span> 
        ($84.00 total!)
      </h1>
      
      <div class="offer">
        <div class="offer__product">
          <img src="../assets/Air-ionizer-small-picture.svg" alt="Product picture" class="offer__product__picture">
          <div class="offer__product__info">
            
            <div class="offer__product__infos">
              <p class="offer__product__infos__title">Clarifion Air Ionizer</p>
              <div class="offer__product__infos__prices">
                <p class="offer__price__old">$180</p>
                <p class="offer__price__new">$84</p>
              </div>
            </div>

            <div class="product-stars">
              <img src="../assets/star-icon.svg" class="star-icon">
              <img src="../assets/star-icon.svg" class="star-icon">
              <img src="../assets/star-icon.svg" class="star-icon">
              <img src="../assets/star-icon.svg" class="star-icon">
              <img src="../assets/star-icon.svg" class="star-icon">
            </div>

            <div class="product-stock">
              <img src="../assets/radio_buton.svg" alt="Radio button option selected" class="radio-button">
              <p class="radio-button-label">12 left in Stock</p>            
            </div>

            <p class="offer-features__description">Simply plug a Clarifion into any standard outlet and replace bulky, expensive air purifiers with a simple.</p>
          </div>
        </div>
      </div>

      <div class="offer-features">
        <div class="offer-features__bullet-point">
          <img src="../assets/tick-circle.svg" alt="Check bullet point icon" class="check-bullet-point-icon">
          <p class="check-bullet-point-text">Negative Ion Technology may <span class="bold">help with allergens</span></p>
        </div>
  
        <div class="offer-features__bullet-point">
          <img src="../assets/tick-circle.svg" alt="Check bullet point icon" class="check-bullet-point-icon">
          <p class="check-bullet-point-text">Designed for <span class="bold">air rejuvenation</span></p>
        </div>
  
        <div class="offer-features__bullet-point no-margin">
          <img src="../assets/tick-circle.svg" alt="Check bullet point icon" class="check-bullet-point-icon">
          <p class="check-bullet-point-text"><span class="bold">Perfect for every room</span> in all types of places.</p>
        </div>
      </div>

      <div class="offer-discount">
        <img src="../assets/discount.svg" alt="Discount icon" class="discount-icon">
        <p class="discount-message">Save <span class="emphasis-style">53%</span> and get <span class="emphasis-style">6 extra Clarifision</span> for only <span class="emphasis-style">$14 Each</span>.</p>
      </div>

      <div class="claim-discount-button">
        <button class="discount-button" >
          <p class="discount-button-text">Yes - Claim my discount</p>
          <img src="../assets/discount-arrow-right.svg" alt="Arrow right icon" class="arrow-right-icon">
        </button>
      </div>

      <shipping-information></shipping-information>
  
      <div class="dont-want-offer-link">
        <a href="#" class="dont-want-offer-link__style">No thanks, I don’t want this.</a>
      </div>
  
      <div class="garantee-area">
        <img src="../assets/garantee-stamp.png" alt="garantee stamp image" class="garantee-stamp">
        <p class="garantee-text">If you are not completely thrilled with your Clarifion - We have a <span class="bold">30 day satisfaction guarantee</span>. Please refer to our return policy at the bottom of the page for more details. Happy Shopping!</p>
      </div>
    </div>
  </section>
</main>

<clarifion-footer></clarifion-footer>

<router-outlet></router-outlet>
