<div class="customer-comment">
    <div class="customer-info">
      <img src="../assets/customer-photo.png" alt="Customer photo" class="customer-photo">
      <div class="customer-data">
        <img src="../assets/Stars.svg" alt="customer avaluation stars" class="customer-stars">
        <div class="customer-name">
          <p class="customer-name__text">Ken T.</p>
          <img src="../assets/verify.svg" alt="verified icon" class="verified-icon">
          <p class="verified-text">Verified Customer</p>
        </div>
      </div>
    </div>
    <p class="customer-comment__text">“As soon as the Clarifions arrived I put one in my bedroom. This was late in the afternoon. When I went to the bedroom in the evening it smelled clean. When I went to bed I felt I could breathe better. Wonderful.”</p>
  </div>