
@use "igniteui-angular/theming" as *;
// Uncomment the following lines if you want to add a custom palette:
// $primary: #731963 !default;
// $secondary: #ce5712 !default;
// $app-palette: palette($primary, $secondary, $surface);

/* autoprefixer grid: on */

@include core();
// @include typography($font-family: $material-typeface, $type-scale: $material-type-scale);
@include theme($default-palette);
// [Reseting css]
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
    // [Color palette]
    --header-background-color: #252F3D;
    --footer-background-color: var(--header-color);
    --black-color: #000000;
    --customer-name-color: #333;
    --white-color: #FFFFFF;
    --radio-button-label-color: #37465A;
    --content-text-color: #4D5254;
    --disabled-color: #969696;
    --main-border-color: #CFCFCF;
    --main-content-container-color: #FAFAFA;
    --primary-color: #2C7EF8;
    --secondary-color: #EDF3FD;
    --check-step-color: #85BF55;
    --action-button-color: #59AE43;
    --verified-customer-color: #5BB59A; 
    --alert-color: #F82C2C;

    // [Typography]
    --primary-font-family: "Manrope";
  }
  html, body { height: 100%; }

body {
    background-color: var(--white-color);
    margin: 0; 
    font-family: var(--primary-font-family), Roboto, "Helvetica Neue", sans-serif;
    font-size: 16px;
  }

