<section class="main-content__order-status">
    <h1 class="main-content__order-status__title">Wait ! your order in progress.</h1>
    <p class="main-content__order-status__description">Lorem ipsum dolor sit amet, consectetur </p>
    <div class="main-content__order-status__stepper">
      <div class="step">
        <img src="../assets/step-checked.svg" class="step__icon" alt="Check icon">
        <p class="step__not-current new-cart-review-text"><span>Cart Review</span></p>
      </div>

      <div class="step">
        <img src="../assets/step-checked.svg" class="step__icon" alt="Check icon">
        <p class="step__not-current new-checkout-text"><span>Checkout</span></p>
      </div>

      <div class="step">
        <img src="../assets/current-step.svg" class="step__icon" alt="Current step icon">
        <p class="step__current new-special-offer-text"><span>Special Offer</span></p>
      </div>

      <div class="step">
        <img src="../assets/step-unchecked.svg" class="step__icon" alt="Final step icon">
        <p class="step__not-current new-confirmation-text"><span>Confirmation</span></p>
      </div>
    </div>
  </section>